.header {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100vh;
        width: 100%;
        position: relative;

    &__logo {
        width: 90%;
        min-width: 300px;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__heading {
        color: $color-secondary;
        text-shadow: 1px 1px 2px $color-complementary;
        font-weight: 900;
        font-size: clamp(60px, 6vw, 100px);
        margin-bottom: 20px;
        transition: 0.8s linear;
        letter-spacing: -5px; 

        @media(min-width: $mobile) {
            letter-spacing: -8px; 
            font-size: clamp(60px, 8vw, 150px);
        }

        @media(min-width: $tablet) {
            letter-spacing: -12px; 
            font-size: clamp(70px, 12vw, 170px);
        }

        @media(min-width: $desktop) {
            letter-spacing: -12px; 
            font-size: clamp(80px, 14vw, 200px);
        }
     

        &--location {
            display: block;
            font-size: 24px;
            letter-spacing: -1px;

            @media(min-width: $mobile) {
                font-size: 32px;
            }
            
            @media(min-width: $tablet) {
                font-size: 48px;
            }
        }
    }

    &__explore {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 5vh;
      

        & i {
            font-size: 6vw;
            transition: all 0.4s linear;
            color: $color-secondary;

            &:hover {
                transform: translateY(15px);
                cursor: pointer;
                font-size: 5vw;
            }
        }
    }

}