<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__grid--explore">
                <h2>Explora</h2>
                <ul>
                    <li>Participants</li>
                    <li>Carmels</li>
                    <li>
                        <a href="https://carnavaldevilanova.cat/" target="_blank" rel="noopener noreferrer">
                            El Carnaval de Vilanova i la Geltrú
                        </a>
                    </li>
                    <li>Com apuntar-te?</li>
                </ul>
            </div>
            <div class="footer__grid--history">
                <h2>Historia</h2>
                <ul>
                    <li>Referències i cites</li>
                </ul>
            </div>
            <div class="footer__grid--associated">
                <h2>Entitats</h2>
                <ul>
                    <li>la FAC</li>
                    <li>Associacions</li>
                </ul>
            </div>
        
        </div>
        <p class="footer__copyright">&copy; Comparses de Vilanova i la Geltrú 2023</p>
    </div>

</footer>