<header class="header">
    <img class="header__logo" src="./assets/images/caramel.png" alt="imatge caramel">
    <h1 class="header__heading">Les Comparses 
      <span class="header__heading--location">
      de Vilanova i la Geltrú
      </span>
    </h1>

    <button
    class="btn-light"
    onclick="window.location.href = '#about'"
    >
    Què són?
    </button>

    <div class="header__explore">
      <p>Explora més...</p>
      <i class="fa-solid fa-arrow-down"></i>
    </div>

  </header>