<nav class="navbar">
    <div class="navbar__menu">
        <dic class="line line-1"></dic>
        <dic class="line line-2"></dic>
        <dic class="line line-3"></dic>
    </div>

    <aside class="navbar__aside">
        <div class="navbar__aside--grid">
            <dic class="navbar__aside--contact">

            </dic>
            <ul>
                <li>Història</li>
                <li>Banderers</li>
                <li>Participació</li>
            </ul>
        </div>
    </aside>
</nav>