<nav class="navbar">
    <div class="navbar__menu">
        <dic class="line line-1"></dic>
        <dic class="line line-2"></dic>
        <dic class="line line-3"></dic>
    </div>

    <aside class="navbar__aside">
        <div class="navbar__aside--grid">
            <dic class="navbar__aside--contact">

            </dic>
            <ul>
                <li>
                    <a href="#historia" target="_blank" rel="noopener noreferrer">
                    Història
                    </a>
                </li>
                <li>
                    <a href="#entitats" target="_blank" rel="noopener noreferrer">
                        Entitats
                    </a>
                </li>
                <li>
                    <a href="#patricipar">
                        Participa-hi
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</nav>