@use "sass:color";
@font-face {
  font-family: 'PT Serif';
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/PTSerif-Bold.ttf) format('truetype'),
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PTSerif-Regular.ttf) format('truetype'),
}
@import url(../fonts/PTSerif-Italic.ttf);

$font-family-PTSerif: 'PT Serif', serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-primary: #3d2645;
$color-secondary: #832161;
$color-complementary: #da4167;
$color-dark: #000000;
$color-light: #f0eff4;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1400px;